<nav class="pcoded-navbar navbar-collapsed navbar-gradient-dark">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="#" class="b-brand">
                <div class="b-bg">
                    <i class="fas fa-bolt"></i>
                </div>
                <span class="b-title">SecureApp</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="Navigation" class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="{{ base_url() }}/login" class="">Login</a>
                        </li>
                        <li class="">
                            <a href="{{ base_url() }}/register" class="">Register</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Support</label>
                </li>
                <li data-username="GitHub" class="nav-item">
                    <a href="https://github.com/developervariety/secureapp" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-github"></i>
                        </span>
                        <span class="pcoded-mtext">GitHub</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>